<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div>
                <h5>Welcome, <a href="#">Admin User</a> </h5>
            </div>

        </div>

    </div>

    <%- include('../partials/footer.ejs') %> 
    <script>
        const logout = () =>{
                window.location.href = "/auth/logout" 
        }




    </script>

</body>
</html>