<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('../partials/nav-admin.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div>
                <h2>Welcome, <%= user.firstName %>  </h2>
            </div>
        </div>
        
    <h3>Select a Dashboard:</h3>
    <a class="waves-effect waves-light btn">Users</a>
    <a class="waves-effect waves-light btn">Stories</a>

    </div>

    <%- include('../partials/footer.ejs') %> 
    <script>
        const logout = () =>{
                window.location.href = "/auth/logout" 
        }




    </script>

</body>
</html>