<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('../partials/nav-admin.ejs') %> 
    <div class="container">
        <div class="header-box">
                <h5>Users (<%= users.length %> ) </h5>
                <a href="/admin/dashboard" class="waves-effect waves-light btn">Admin Dashboard</a>
        </div>
        <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>

    </div>

    <%- include('../partials/footer.ejs') %> 
    <script>
        const logout = () =>{
                window.location.href = "/auth/logout" 
        }




    </script>

</body>
</html>