<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h3><i class="fas fa-book-reader"></i>  StoryBooks</h3>
                <div class="section">
                    <p class="lead">Create public and private stories about your life</p>
                </div>
                <div class="divider"></div>
                <a href="/auth/google" class="btn red darken-1">
                    <i class="fab fa-google left"></i> Log in with Google
                </a>
            </div>
        </div>
        
    </div>
</body>
</html>