<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
    <title>Login</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('partials/nav-login.ejs') %> 
    <div class="container login-container">
        <div class="card" id="home" style="display: block;">
            <div class="card-content">
                <div class="main-icon-holder"><img class="main-icon-image" src="/images/storytelling.png" alt="Book-Image">  <div class="main-icon">StoryBoard</div></div>
                <div class="section">
                    <p class="lead">Create and share short stories</p>
                </div>
                <div class="divider"></div>
                <a href="/auth/google" class="btn blue darken-1">
                    <i class="fab fa-google left"></i> Log in with Google
                </a>
                <div class="divider"></div>
                <a class="btn blue darken-1" onclick="onlyLogin()">
                    <i class="fa fa-sign-in left" aria-hidden="true"></i> Log in with email
                </a>
                <div class="divider"></div>
                <form action="/auth/login" method="POST" id="guestLoginForm">
                    <input type="email" name="email" value="anon@anon.com"  class="validate" style="display:none;">
                    <input type="password" name="password" value="pwd" type="email" class="validate" style="display:none;">
                    <a class="btn blue darken-1" onclick="guestLoginSubmit()">
                        <i class="fa fa-sign-in left" aria-hidden="true"></i> Log in as guest
                    </a>
                </form>
                <div class="divider"></div>
                <a class="btn blue darken-1" onclick="onlyRegister()">
                    Register
                </a>
            </div>
        </div>
        <% if (messages) { %> 
            <div class="login__animated">
                <%= messages.error  %> 
            </div>
        <% } %> 
        <div class="card" id="register">
            <div class="card-content">
                <div class="main-icon-holder"><img class="main-icon-image" src="/images/storytelling.png" alt="Book-Image">  <div class="main-icon">StoryBoard</div></div>
                <div class="divider"></div>
                <form class="col s12" method="POST" action="/auth/register">
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="firstNameR" name = "firstName" type="text" class="validate">
                        <label for="firstNameR">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="lastNameR" type="text" name="lastName" class="validate">
                        <label for="lastNameR">Last Name</label>
                      </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="emailR" name="email" type="email" class="validate">
                          <label for="emailR">Email</label>
                        </div>
                      </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="passwordR" name="password" type="password" class="validate">
                        <label for="passwordR">Password</label>
                      </div>
                    </div>
                    <div class="row">
                        <a class="btn blue darken-1" onclick="formSubmit()">
                            Register
                        </a>
                    </div>
                    <div class="login__others">
                        <a href="/login" >Home</a>
                        <a class="login__fauxlink" onclick="onlyLogin()">Login with email</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" id="login">
                <div class="card-content">
                    <div class="main-icon-holder"><img class="main-icon-image" src="/images/storytelling.png" alt="Book-Image">  <div class="main-icon">StoryBoard</div></div>
                    <form action="/auth/login" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="email" name="email" type="email" class="validate">
                              <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                          </div>
                        </div>
                        <div class="row">
                            <a class="btn blue darken-1" onclick="formSubmit()">
                                Login
                            </a>
                        </div>
                        <div class="login__others">
                            <a href="/login" >Home</a>
                            <a class="login__fauxlink" onclick="onlyRegister()">Register</a>
                        </div>
                    </form>
                </div>
        </div>
        
    </div>
    <%- include('partials/footer.ejs') %> 
    <script>
        const home = document.getElementById("home")
        const register = document.getElementById("register")
        const login = document.getElementById("login")


        const onlyHome = () =>{
            register.style.display="none"
            login.style.display="none"
            home.style.display="block"
        }

        const onlyRegister = () =>{
            home.style.display="none"
            login.style.display="none"
            register.style.display="block"

        }
        const onlyLogin = () =>{
            home.style.display="none"
            register.style.display="none"
            login.style.display="block"
        }

        const formSubmit = () =>{
            const form = event.currentTarget.parentNode.parentNode
            form.submit()
        }

        const guestLoginSubmit = () =>{
            Swal.fire({
                    title: 'Guest data will be deleted upon logout. Register or login to save your data.',
                    showDenyButton: true,
                    confirmButtonText: 'Login as Guest',
                    denyButtonText: `Cancel`,
                    }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById("guestLoginForm").submit()
                    } 
            })
        }
        window.onload = onlyHome
        
    </script>

</body>
</html>
