body {
    background-color: lightpink;
}

p {
    margin: 10px 0  !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.divider {
    margin-top: 10px;
    margin-bottom: 20px;
}



.story-holder{
    display: flex;
    flex-wrap: wrap;
}

.story-body {
    margin: 10px;
}

.card {
    width: 400px;
    margin: 20px;
    padding:10px;
    display: flex;
    flex-direction: column;
}



.card-content{
    flex: 1;
}


.hidden {
    visibility: hidden;
}

.submit-button {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    margin:5px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.delete-icon{
    cursor: pointer;
}

.viewstory__storytitle{
    font-family: 'Lobster Two', cursive;
}

.viewstory__storyheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewstory__storybody{
    font-family: 'Offside', cursive;
}



.viewstory__container{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.table-icons{
    display: flex;
}