:root {
    --bodybgd: #95de84;
    --bodytextcolor: #004d40;
    --navbgd: #43ba97;
    --tablebgd: #f9f871;
    --votenumbgd: #26a69a;
}

body {
    background-color: var(--bodybgd);
    /* background: linear-gradient(90deg, var(--bodybgd), #254b4e) fixed; */
    background-size: cover;
    overscroll-behavior-y: none;
    color: var(--bodytextcolor)
}

.lead {
    font-size: 20px;
}

.main-icon {
    font-size: 30px;
    font-weight: bold;
}

.main-icon-image {
    width: 200px;
}

nav {
    background-color: var(--navbgd);
}



h1 {
    font-size: 5.9vw;
}
h3 {
    font-size: 3vh;
}
p {
    font-size: 2vmin;
}


table {
    border: none;
    background-color: var(--tablebgd);
}

td,
th {
    padding: 20px;
}

.userpage__top-panel {
    display: flex;
    align-items: center;
}

.footer-top {
    padding-bottom: 10px;
}

.footer-top a {
    color: #039be5 !important;
}

.nav-button {
    margin-top: auto;
    margin-bottom: auto;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.justify-left {
    display: flex;
    justify-content: left;
}

.img_profile {
    float: left;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
}

.img_popular {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.img_userlist {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.double-font-size {
    font-size: 2em;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidenav-overlay {
    z-index: 10;
}

#selected-box {
    background-color: blue;
    color:white;
    display: flex;
    align-items: center;
}

#selected-box p {
    margin-left:5px;
}

#selected-box a {
    margin-left: 20px;
    background-color: red;
    color: white;
}
#selected-box .btn {
    border-radius: 5px;
}



.story-holder {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: space-between;
    margin-top: 10px;
}

.wrapper {
    display: grid;
    gap: 20px;
    margin-top: 10px;
}

.story-row {
    border: none;
    border-radius: 5px;
    background-color: var(--tablebgd);
    padding: 1em;
}

.list-title,
.list-title-bold {
    margin: 0;
    font-size: 1.5em;
}

.list-title-bold {
    font-weight: bold;
}

.story-body {
    margin: 10px;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--tablebgd);
    color: #61286f;
}

.card-content {
    flex: 1;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
}


.submit-button {
    background-color: dodgerblue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    margin: 5px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.addstory-button {
    background-color: dodgerblue; /* Blue background */
    border: none; /* Remove borders */
    border-radius: 50%;
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    margin: 5px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.delete-icon {
    cursor: pointer;
}

.viewstory__storytitle {
    font-family: "Roboto Slab", serif;
    font-size: 2em;
}

.viewstory__storyauthor {
    font-family: "Roboto Condensed", sans-serif;
}

.viewstory__storyheader {
    display: flex;
    flex-direction: column;
}

.viewstory__storybody {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

.viewstory__likes {
    display: flex;
}

.viewstory__container {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.table-icons {
    display: flex;
    align-items: center;
}

.edit-btns {
    display: flex;
    margin: 0;
    padding: 0;
}

.login__others {
    display: flex;
    justify-content: space-between;
}

.login__fauxlink {
    cursor: pointer;
}

.login__animated {
    height: 2.5em;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 15px;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: fadeOut;
}

.adminpage-btns {
    display: flex;
    justify-content: left;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.public__score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.public__votenum {
    background-color: var(--votenumbgd);
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

.dashboard__likedStories {
    border: 2px solid;
    border-radius: 10px;
}

.btn-space {
    margin-left: 10px;
}

.likedHeaderBaap {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.dashboard__likedheader {
    cursor: pointer;
    font-size: 1.5em;
}

.dashboard-table {
    table-layout: auto;
    margin: 20px 0;
}

.spin {
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.removeFromLikes {
    cursor: pointer;
}

.removeFromLikesIcon {
    color: #a94c39;
    font-size: 2em;
    font-weight: bold;
}

.indexpage-header {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.indexpage-header a {
    font-size: 1.5em;
    margin-left: 10px;
}

.align-right{
    display: flex;
    justify-content: right;
}

.top-panel {
    display: flex;
}

.top-panel form {
    display: flex;
    align-items: baseline;
}

.hide-on-large {
    display: none;
}

.hide-on-large-inline-block {
    display: none;
}


#pageNumber {
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .extra-button {
        display: none;
    }

    .header-box {
        justify-content: center;
    }

    .story-holder {
        justify-content: center;
    }

    .hide-on-small {
        display: none;
    }
    .hide-on-large {
        display: block;
    }
    .hide-on-large-inline-block {
        display: inline-block;
    }

    .likedHeaderBaap {
        width: 100%;
    }

    .wrote-col-1 {
        width: 70%;
    }
    .wrote-col-4 {
        width: 20%;
    }
    .wrote-col-5 {
        width: 10%;
    }
    .public-heading {
        width: 100%;
        text-align: center;
    }
    .public-heading-rest {
        width: 100%;
    }
    .viewstory__storytitle {
        font-size: 20px;
    }

    .viewstory__storybody p {
        font-size: 16px;
    }

    .push-down-on-small{
        margin-top: 5px;
    }
}
