body {
    background-color: aqua;
}

p {
    margin: 10px 0  !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.divider {
    margin-top: 10px;
    margin-bottom: 20px;
}



.story-holder{
    display: flex;
    flex-wrap: wrap;
}

.story-body {
    margin: 10px;
}

.card {
    width: 400px;
    margin: 20px;
    padding: 10px;
}

.hidden {
    visibility: hidden;
}