<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs'); %>
    <title>Stories</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <h1>Stories</h1>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="card-content center-align">
                    <h5>The Sea of Azov</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptate dicta pariatur officiis reiciendis? Dolores harum odit,  impedit corrupti suscipit provident explicabo rem!</p>
                    <br>
                    <div class="chip">
                        <img src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg" alt="Gal" >
                        <a href="#">Valentina</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="card-content center-align">
                    <h5>My First Time</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptate dicta pariatur officiis reiciendis? Dolores harum odit,  impedit corrupti suscipit provident explicabo rem!</p>
                    <br>
                    <div class="chip">
                        <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg" alt="Gal">
                        <a href="#">Andrea</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>